:root {
  --ifm-color-primary: #2b6cb0;
  --ifm-color-primary-dark: #2861a0;
  --ifm-color-primary-darker: #265c97;
  --ifm-color-primary-darkest: #1f4c7d;
  --ifm-color-primary-light: #2e77c0;
  --ifm-color-primary-lighter: #357ec6;
  --ifm-color-primary-lightest: #4f90cf;
  --ifm-code-font-size: 95%;
}

[data-theme="dark"] {
  --ifm-color-primary: #63b3ed;
}
